<div class="side-menu">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg">
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>

<div class="main">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg">
  <div class="container">
    <h1>Create and share stories</h1>
    <button>Learn more</button>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <h1>Relive and share your adventures</h1>
    <p>Stories automatically creates a digital journal filled with only your best photos.
</p>
  </div>
</div>

<div class="secondary"></div>

<div class="discover">
  <div class="container">
    <h1>Discover Stories</h1>
    <button id="discover">Learn more</button>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>A SHUTTERBUGG PROJECT</p>
  </div>
</div>