// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  padding: 0; 
  margin: 0; 
  font-family: 'Raleway', sans-serif;
  color: #000; 
}

.container {
  max-width: 940px; 
}

a {
  text-decoration: none; 
  color: #FFF; 
}

a:hover {
  text-decoration: none; 
  color: #88BBBB; 
}

/* Home Page */ 

.side-menu {
  display: none; 
  position: fixed;
  z-index: 2; 
  height: 100%; 
  width: 200px; 
  background: #000; 
  padding: 10px; 
  margin-left: -200px; 
}

.side-menu img {
  width: 20px; 
  height: 20px; 
  cursor: pointer; 
  float: right; 
}

.side-menu ul {
  list-style-type: none; 
  color: #FFF; 
  padding-top: 20px; 
}

.side-menu li {
  padding: 10px; 
  cursor: pointer; 
}

.main {
  height: 600px; 
  background: url("https://images.unsplash.com/photo-1474925558543-e7a5f06e733e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=f5e597cd88940fcf9b13c2f414598b3e") no-repeat center center; 
  background-size: cover; 
  text-align: center; 
}

.main img {
  width: 20px; 
  height: 20px; 
  cursor: pointer; 
  float: left; 
  position: relative; 
  z-index: 1; 
  margin: 20px; 
}

.main h1 {
  font-size: 60px; 
  font-weight: 900; 
  padding-top: 220px; 
}

button {
  background: #000; 
  width: 150px; 
  height: 50px; 
  padding: 10px 20px; 
  color: #FFF; 
  border: none;  
  opacity: 0.9; 
}

button:hover {
  opacity: 1; 
}

.supporting {
  width: 100%; 
  height: 250px; 
  background: #000; 
  text-align: center; 
  color: #FFF; 
  padding-top: 70px; 
}

.supporting h1 {
  font-size: 30px; 
  font-weight: 900; 
}

.supporting p {
  font-size: 15px; 
  font-weight: 300; 
}

.secondary {
  height: 350px; 
  background: url("https://images.unsplash.com/photo-1474821792123-fa67193d18a5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=dd69d07d43c5f74208002e9e5dcdea73") no-repeat center center; 
  background-size: cover; 
}

.discover {
  width: 100%; 
  height: 300px; 
  background: #000; 
  text-align: center; 
  padding-top: 50px; 
}

.discover h1 {
  font-size: 30px; 
  font-weight: 900; 
  color: #FFF; 
  padding: 20px; 
}

.blue {
  background: #88BBBB; 
  opacity: 0.8; 
}

.blue:hover {
  opacity: 1;  
}

.blue a:hover {
  color: #000; 
}

.footer {
  width: 100%; 
  height: 50px; 
  background: #000; 
  text-align: center;
  padding-top: 20px; 
}

.footer p {
  color: #FFF; 
  font-size: 10px; 
}

/* About Page */ 

.jumbotron {
  height: 600px; 
  background: url("https://hd.unsplash.com/photo-1465311440653-ba9b1d9b0f5b") no-repeat center center; 
  background-size: cover; 
  text-align: center; 
  margin: 0; 
}

.jumbotron img {
  width: 20px; 
  height: 20px; 
  cursor: pointer; 
  float: left; 
  position: relative; 
  z-index: 1; 
  margin: -15px 10px; 
}

.jumbotron h1 {
  font-size: 60px; 
  font-weight: 900; 
  padding-top: 200px; 
}

.about-supporting {
  width: 100%; 
  height: 400px; 
  background: #000; 
  text-align: center; 
  padding-top: 70px; 
  margin: 0; 
}

.about-supporting h1 {
  font-size: 30px; 
  font-weight: 900; 
  color: #FFF; 
  padding: 20px; 
}

.about-supporting p {
  font-size: 15px; 
  font-weight: 300; 
  color: #FFF; 
  padding-bottom: 20px; 
}

